
<div class="jumbotron">
  <h1 class="display-4" style="color:#9f1d35;">Allegany County Animal Shelter</h1>
  <p class="lead">The Allegany County Animal Shelter serves as the municipal shelter for Allegany County and is located at 716 Furnace Street in Cumberland. For many years, the shelter served as the final destination for nearly 85% of the animals that entered it. In late 2010, a group of passionate citizens led the charge to change the nature of the shelter with a goal of doing as much as possible for every animal, every day. It was the first step on the journey to becoming A Shelter of Hope.</p>
  <hr class="my-4">
  	<h4>Mission</h4>
  	<blockquote class="blockquote">
  		<p style="color:#696969;">The Allegany County Animal Shelter serves as a “Shelter of Hope” for the lost, abandoned, and homeless animals of Allegany County. We strive to expand and strengthen our leadership in animal care, humane education, and progressive animal welfare programs and to find common-sense solutions for animal-related problems in our community. </p>
	</blockquote><br>

	<h4>Vision</h4>
  	<blockquote class="blockquote">
  		<p style="color:#696969;">To guarantee a good home to all companion animals that are healthy and behaviorally sound. To do all we can for dogs and cats that are medically treatable and can be behaviorally rehabilitated. To develop constructive relationships that advance our mission and vision with our city/county governments, other animal-welfare stakeholders and the people of our community.</p>
	</blockquote>
</div>