
<div class="jumbotron">
  <h1 class="display-4" style="color:#9f1d35;">Adopt an Animal Today!!</h1>
  <p class="lead">The Allegany County Shelter is always full of wonderful dogs and cats available for adoption. Their staff is able to help people to ensure their new family member has a successful transition into a permanent and loving home.</p>
  <hr class="my-4">
   <img src="https://i1.wp.com/www.theservicedogs.com/wp-content/uploads/2017/07/adoptme.jpg?resize=414%2C334&ssl=1" class="rounded mx-auto d-block" alt="...">
  	<h4>What Animals are Adoptable?</h4>
  	<blockquote class="blockquote">
  		<p style="color:#696969;">Come visit the shelter to meet some adoptable animals. Their staff can give you any available medical and behavioral information on the animals to help you make a decision on what animals is right for you.<br><br>You can find their adoptable animals on <a href="https://www.petango.com/ashelterofhope">Petango</a>.</p>
	</blockquote><br>

	<h4>Adoption Fees</h4>
  	<blockquote class="blockquote">
  		<p style="color:#696969;">All Dogs: $125<br> All Cats: $85</p>
	</blockquote>

 <hr class="my-4">
 <h4>Want More Information?</h4>
  	<blockquote class="blockquote">
  		<p style="color:#696969;">Please visit the Allegany County Animal Shelter's <a href="http://alleganyanimalshelter.com/adoptables/">Adoption Page</a>.</p>
	</blockquote><br>
</div>