<h1>You can make a DIFFERENCE! Here's how:</h1><br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://mccarthywoolf.com/wp-content/uploads/2018/09/spread-the-word.png" alt="Card image cap">
    	<div class="card-body">
      		<h5 class="card-title">Use your Voice!</h5>
      		<p class="card-text">Contact the Allegany county commissoner and local officials. Tell them why we need a no-kill shelter.
      		<br><br>Tell your family and friends about the shelter and what is happening. The more people that know the better.</p>
    	</div>
    
  </div>

  <div class="card">
    <img class="card-img-top" src="https://www.petmd.com/sites/default/files/animal-shelter-donations-shutterstock_231056002.jpg">
    	<div class="card-body">
     		<h5 class="card-title">Donations!</h5>
      		<p class="card-text">Make a donation to the Allegany County Animal Shelter. Money is always needed but there are so many other items that are needed and appreciated. Some of the most common needed items at shelters include:
      			<ul>
      				<li>Towels</li>
		      		<li>Leashes</li>
		      		<li>Toys</li>
		      		<li>Brushes</li>
		      		<li>Beds</li>
		      		<li>Food & Dishes</li>
		      		<li>Cleaning Supplies</li>
		      		<li>Blankets</li>
		      	</ul>
      		</p>
    	</div>
    <div class="card-footer">
      <small class="text-muted">For more information about Allegany County Animal Shelter's donation policy, <a href="http://alleganyanimalshelter.com/donate/">Visit their donations webpage.</a></small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="http://deltaanimal.org/wp-content/uploads/2017/04/vonunteer-with-dog-at-an-animal-shelter.jpg" alt="Card image cap">
    	<div class="card-body">
      		<h5 class="card-title">Volunteer!</h5>
      		<p class="card-text">With funding problems and overpopulation, the Allegany County Animal Shelter faces challenges every day. Often our biggest struggle comes from the lack of reliable volunteers. You can help by volunteering to work at the shelter in your spare time. Our volunteers are one of our most important assets and they do an amazing job helping us help the animals. </p>
    	</div>
    <div class="card-footer">
      <small class="text-muted">For more information about Allegany County Animal Shelter's donation policy, <a href="http://alleganyanimalshelter.com/volunteer/">Visit their volunteers webpage.</a></small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://carams.org/sites/default/files/helpfoster.gif" alt="Card image cap">
    	<div class="card-body">
      		<h5 class="card-title">Foster an Animal!</h5>
      		<p class="card-text">Foster Homes do make the difference between life and death for many stray, lost and abandoned animals. The Allegany County Animal Shelter’s foster care program is designed to save lives by providing temporary care for animals in need. Fostering opens up spaces and cages and thereby allowing the shelter the ability to help more animals. It also provides animals help with socialization and training. Young or old, injured and sick, abused and under socialized animals receive a chance to grow or heal before finding their forever homes.</p>
    	</div>
    <div class="card-footer">
      <small class="text-muted">For more information about Allegany County Animal Shelter's donation policy, <a href="http://alleganyanimalshelter.com/foster_programs/">Visit their foster program webpage.</a></small>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="https://pbs.twimg.com/profile_images/561116228693942272/KugK7bSv.jpeg" alt="Card image cap">
    	<div class="card-body">
      		<h5 class="card-title">Donate Your Skills and Experience!</h5>
      		<p class="card-text">Allegany County Animal Shelter needs help from those with specialized knowledge and skills. For example, those who love taking photos or making videos of animals could be a huge help in closing the gap between animals and adopters. It takes a lot of skill to photograph a dog who just wants to play catch! But if you can do it, your skills would definitely help animals find homes. 
 			</p>
    	</div>
  </div>

 </div>

