<h1>You can make a DIFFERENCE! Here's how:</h1>
<h4>
	<ul>
		<li>Contact the Allegany county commissoner and local officials. Tell them why we need a no-kill shelter.</li>
		<li>Make a donation to the Allegany County Animal Shelter.</li>
	</ul>
</h4>