@import "bootstrap";
.container {
  position: relative; 
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

.gradient4
{
    background-color: #F36D8F;
    /* For WebKit (Safari, Chrome, etc) */
    background: #F36D8F -webkit-gradient(linear, left top, left bottom, from(#5A0016), to(#F36D8F)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #F36D8F -moz-linear-gradient(top, #5A0016, #F36D8F) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5A0016, endColorstr=#F36D8F) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#5A0016, endColorstr=#5A0016)" no-repeat;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}